/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY BACKGROUND */
body {
    background: linear-gradient(135deg, #1e1e5f, #3a0ca3, #7209b7, #f50370);
    color: white;
    min-height: 100vh;
}

/* INTRO PAGE */
.intropage {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, #ff6a00, #ee09bc);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.intropage h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: underline;
}

.intropage p {
    margin-top: 15px;
    font-size: 1.1rem;
    max-width: 700px;
    margin-inline: auto;
    color: white;
}

/* RESULTS SECTION */
.results-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.cyptodetails {
    background: linear-gradient(135deg, #4361ee, #4895ef);
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.graphcontainer {
    background: linear-gradient(135deg, #b5179e, #f72585);
    padding: 20px;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    color: #000000;
}

* CONVERTER */
.converter {
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    background: linear-gradient(135deg, #00b4d8, #90dbf4);
    border-radius: 25px;
    color: black;
}

.converter input,
.converter select {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 80%;
}

/* ALERTS */
.alerts {
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    background: linear-gradient(135deg, #ffbe0b, #fb5607);
    border-radius: 25px;
    color: black;
}

.alerts input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 70%;
}
